# Ігнорування лог-файлів
*.log

# Ігнорування каталогу з залежностями
node_modules/

# Ігнорування тимчасових файлів
*.tmp
*.temp

# Ігнорування файлів конфігурації редакторів
.vscode/
.idea/
.idea

# Ігнорування побудованих файлів
/dist

# Ігнорування особистих конфігураційних файлів
.env
.stylelintrc.json
config.json